body {
    background-image: linear-gradient(to right, black, gold);
    color: white;
}

header {
    font-size: 40px;
    font-family: "Brandon Text Bold", sans-serif;
    text-align: center; 
}

section {
    display: flex;
    flex-direction: row:
}

button {
    color: yellow;
    border: white;
    background-color: black;
    padding: 5px 5px;
    font-size: 12px;
    font-family: "Brandon Text Bold", sans-serif;
    padding: 1px 15px;
    height: 30px;
    border: 3px solid white;
    border-radius: 8px;
}

button:hover {
    background-color: yellow;
    color: black;
}

article div div{
    background-color: #faa;
    display: block;
    color: yellow;
    font-family: "Brandon Text Bold", sans-serif;
    max-width: 300px;
    border: 5px solid white;
    margin: 10px 10px;
    padding: 5px;
}

article div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.empty {
    background-color: black;
}

a {
  color: yellow;  
}

nav {
    padding: 15px;
    color: yellow;
}